@import "../../_variables.scss";
@import "../../_shared.scss";

:host {
    padding-top: $gutters;
    display: block;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}
.heading-top {
    
    color: #f9f9f9;
    
    font-size:22px;
}

    .heading-top > .button-text {
        float: right;
        padding: 5px 15px 5px 15px;
        color: #ecad48;
        background-color: #414141 !important;
        border: 1px solid #ecad48;
        font-size: 14px;
        outline:none;
        font-weight:bold;
    }

.Client-Setup {
    padding:30px 0px 10px 0px;
}

    .Client-Setup > .Bold {
        font-size: 12px;
        font-weight: bold;
        color: #f9f9f9;
    }

.submit-button {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ecad48;
    background-color: #414141 !important;
    border: 1px solid #ecad48;
    /*margin-left: -10px;*/
}

.Client-Setup-button {
    color: white;
}

.TextArea {
    color: black;
    width: 120px;
    margin-right: 20px;
    background-color: #e9f1d1;
    height: 25px;
}



.installation {
    color: white;
}

.text1 {
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 20px;
}

.installation-data {
    padding-bottom: 30px;
}
