﻿<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 button-bottom">
                <a href="#" class="zoom-button">Bucket A</a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 button-bottom">
                <a href="#" class="zoom-button">Bucket A</a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 button-bottom">
                <a href="#" class="zoom-button">Bucket A</a>
            </div>
        </div>

    </div>

    <div class="col-sm-2 col-md-1 col-lg-1">
        <div class="row">
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>

        </div>
    </div>

    <div class="col-sm-2 col-md-1 col-lg-1">
        <div class="row">
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>

        </div>
    </div>

    <div class="col-sm-2 col-md-1 col-lg-1">
        <div class="row">
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>

        </div>
    </div>

    <div class="col-sm-2 col-md-1 col-lg-1">
        <div class="row">
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>

        </div>
    </div>

    <div class="col-sm-2 col-md-1 col-lg-1">
        <div class="row">
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>

        </div>
    </div>

    <div class="col-sm-2 col-md-1 col-lg-1">
        <div class="row">
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>

        </div>
    </div>
    <div class="col-sm-2 col-md-1 col-lg-1">
        <div class="row">
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>

        </div>
    </div>

    <div class="col-sm-2 col-md-1 col-lg-1">
        <div class="row">
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>
            <div class="col-sm-12 button-right">
                <a href="#" class="zoom-button1"><B>OFF</B> &nbsp; Flow</a>
            </div>

        </div>
    </div>

</div>


<div class="row zoom-graph">
    <div class="col-sm-10 col-lg-10 col-md-10">
        <div class="Zoom-Heading">Sunction</div>

    </div>
    <div class="col-sm-2 col-lg-2 col-md-2">
        <div class="Zoom-Heading">section</div>

    </div>

    <div class="col-sm-10 col-lg-10 col-md-10">
        <div class="Zoom-Heading"></div>

    </div>
    <div class="col-sm-2 col-lg-2 col-md-2">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="Zoom-Heading1">
                    -135.52<br>
                    <div class="Text-small">kPa</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="Zoom-Heading1">
                    -135.52<br>
                    <div class="Text-small">kPa</div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;margin-left:30px;">
    <div class="col-offset-sm-1 col-offset-md-1 col-sm-8 col-md-8 col-lg-8" style="color:white;background-color:#414141 !important;">
        Here comes the Graph

    </div>

</div>

<div class="row" style="margin-top:20px;margin-left:30px;">
    <div class="col-offset-sm-1 col-offset-md-1 col-sm-3 col-md-3 col-lg-3">
        <button class="footer-button"><img src="images/icons--11.png" class="img-responsive image" /><span class="button-text"><b>Pause</b></span></button>

    </div>

</div>