@import "../../_variables.scss";

:host {
    display: block;
    padding-top: $gutters;
}

.zoom-button {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: #414141 !important;
}

.button-bottom {
    margin-bottom: 20px;
    padding-left: 0px;
}

    .button-bottom > a {
        border: 2px;
    }

        .button-bottom > a:hover {
            text-decoration: none;
            color: #e3c04b;
            border-color: #e3c04b;
            border-color: #e3c04b;
            cursor: pointer;
        }

.button-right {
    margin-bottom: 20px;
}

.zoom-button1 {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: #e0e8c9 !important;
}

.zoom-graph {
    background-color: #414141 !important;
    color: white;
}

.Zoom-Heading {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.Zoom-Heading1 {
    font-size: 30px;
    padding-top: 5px;
    float: right;
    margin-bottom: 20px;
    padding-bottom: 2px;
}

.Text-small {
    font-size: 10px;
    float: right;
}

.button-right > a {
    border: 2px;
}

    .button-right > a:hover {
        text-decoration: none;
        color: #e3c04b;
        border-color: #e3c04b;
        cursor: pointer;
    }
