﻿<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>@ViewData["Title"] - SOMAC_SPA</title>
      <base href="/" />
      <!-- <link rel="stylesheet" href="~/CSS/Main.css" asp-append-version="true" />
      <link rel="stylesheet" href="~/CSS/dygraph.css" asp-append-version="true" /> -->
      <style type="text/css">
        html,
        body {
          height: 100%;
          color: #fff;
        }
        html {
          -webkit-box-sizing: border-box;
               box-sizing: border-box;
        }

        *,
        *::before,
        *::after {
          -webkit-box-sizing: inherit;
              box-sizing: inherit;
        }

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
          display: block;
        }
        body {
          line-height: 1;
        }
        ol, ul {
          list-style: none;
        }
        blockquote, q {
          quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
          content: '';
          content: none;
        }
        table {
          border-collapse: collapse;
          border-spacing: 0;
        }
      </style>
      <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.2.js"></script>
        <script src="/signalr/js"></script>
    </head>
    <body>
      @RenderBody()
      @RenderSection("scripts", required: false)
    </body>
</html>
