﻿@import "../../_mixins.scss";
@import "../../_variables.scss";

$layout-toggler-height: 40px;

:host {
    display: block;
    height: 100%;
}

.layout-container {

    @include calc(height, '100% - #{$layout-toggler-height}');
    display: flex;

    > .vertical-graphs-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        /*background-color: gray;*/
        /*> * {
            flex-wrap: wrap;
            flex: 1;
        }*/
    }

    > .timeline-graphs-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        > * {
            flex: 1;
        }
    }

    &.layout1 {
        .vertical-graphs-container,
        .timeline-graphs-container {
            width: 50%;
            height: 100%;
        }

        flex-direction: row;

        .vertical-graphs-container {
            flex-direction: row;

            > .suction-xyz {
                width: 55%;
                display: flex;

                > * {
                    flex-wrap: wrap;
                    flex: 1;
                }
            }

            > .suction-penetration {
                margin-right: 5px;
                background-color: $secondary-bg-color;
                width: 45%;

                > :first-child {
                    flex-wrap: wrap;
                    flex: 1;
                    height: 20%;
                }

                > :last-child {
                    height: 80%;
                    display: flex;

                    > * {
                        flex-wrap: wrap;
                        flex: 1;
                    }
                }
            }
        }

        .timeline-graphs-container {
            flex-direction: column;

            > * {
                flex-wrap: wrap;
                flex: 1;
            }
        }
    }

    &.layout2 {
        .vertical-graphs-container,
        .timeline-graphs-container {
            height: 50%;
        }

        flex-direction: column;

        .vertical-graphs-container {
            flex-direction: row;

            > .suction-xyz {
                width: 55%;
                display: flex;

                > * {
                    flex-wrap: wrap;
                    flex: 1;
                }
            }

            > .suction-penetration {
                margin-right: 5px;
                background-color: $secondary-bg-color;
                width: 45%;
                display: flex;

                > :first-child {
                    
                    flex-wrap: wrap;
                    flex: 1;
                    width: 30%;
                }

                > :last-child {
                    
                    display: flex;
                    width: 70%;


                    > * {
                        flex-wrap: wrap;
                        flex: 1;
                    }
                }
            }
        }

        .timeline-graphs-container {
            flex-wrap: wrap;
            flex-direction: row;

            > * {
                height: 50%;
                width: 50%;
                display: flex;
                flex-basis: 50%;
                flex-direction: column;
            }
        }
    }
}

.layout-toggler {
    height: $layout-toggler-height;
    line-height: $layout-toggler-height;
    font-size: 18px;

    > * {
        max-height: $layout-toggler-height;
    }

    .text {
        float: left;
        color: $bucket-a-color;

        .number {
            font-weight: bold;
        }
    }

    .links {
        float: right;

        a {
            margin-left: 20px;
            color: #fff;

            &:hover {
                border: 1px solid #fff;
                text-decoration: none;
            }
        }
    }
}
