﻿<div class="layout-toggler">
  <div class="text">
    <span class="description">Deduction Caisson Load</span>
    <span class="number">365 Tons</span>
  </div>
  <div class="links">
    <a [routerLink]="['/bucket-a']" fragment="layout1">Layout I</a>
    <a [routerLink]="['/bucket-a']" fragment="layout2">Layout II</a>
  </div>
</div>
<div class="layout-container" [ngClass]='{layout1: layout=="layout1", layout2: layout=="layout2"}'>
  <div class="vertical-graphs-container">
    <div class="suction-penetration">
      <div style="color:#F2F2F2;">
        <label style="width:50%;">Soil</label> <input type="button" style="border: 1px solid #000; background-color:#f2f2f2; color:#555; width:50px;" value="OFF" /> <br />


        <label style="width:50%;">Buckling</label> <input type="button" style="border: 1px solid #000; background-color:#555; color:#f2f2f2;width:50px;" value="ON" /> <br />


        <label style="width:50%;">Cavitation</label> <input type="button" style="border: 1px solid #000; background-color:#555; color:#f2f2f2; width:50px;" value="ON" />
      </div>
      <div>
        <suction-penetration-graph [data]="data"></suction-penetration-graph>
      </div>

    </div>
    <div class="suction-xyz">
      <suction-xyz-graph [data]="data" graphname="qc"></suction-xyz-graph>
      <suction-xyz-graph [data]="data" graphname="Flow"></suction-xyz-graph>
      <suction-xyz-graph [data]="data" graphname="Heave"></suction-xyz-graph>
    </div>

  </div>
  <div class="timeline-graphs-container">
    <timeline-graph [data]="data"></timeline-graph>
    <timeline-graph [data]="data"></timeline-graph>
    <timeline-graph [data]="data"></timeline-graph>
    <timeline-graph [data]="data"></timeline-graph>
  </div>
</div>