@import "_variables.scss";

/** Flexbox
 ---------------------------------------------------------*/

.flex {
    display: flex;
    &.row {
        flex-direction: row;
    }
    &.column {
        flex-direction: column;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex: 1;
}

.container {
    background-color: $secondary-bg-color;
    padding: 20px;
}

.container:not(:first-child) {
    margin-left: 20px;
}