/** Colors
 ---------------------------------------------------------*/
$main-bg-color: #393939;
$secondary-bg-color: #414141;

$bucket-a-color: #E4C756;
$bucket-b-color: #67B6D7;
$bucket-c-color: #D07646;

/** Misc
 ---------------------------------------------------------*/
$footer-height: 60px;
$navbar-height: 60px;
$gutters: 20px;
