@import "../../_variables.scss";

:host {
    > .main-content {
        height: -webkit-calc(100% - 120px);
        height:    -moz-calc(100% - 120px);
        height:         calc(100% - 120px);
        background-color: $main-bg-color;
        padding: 0 $gutters;
    }
}
