@import "../../_variables.scss";

:host {
    background-color: $secondary-bg-color;
    display: block;
    height: $navbar-height;
    padding: 0 20px;
}

a {
    color: #fff;
    text-decoration: none;

    &.selected {

        &.overview {
            font-weight: bold;
        }
        &.a {
            color: $bucket-a-color;
        }
        &.b {
            color: $bucket-b-color;
        }
        &.c {
            color: $bucket-c-color;
        }

    }
}

ul {

    line-height: $navbar-height;
    margin-bottom: 0;

    &.time {
        color: #fff;
        float: left;
    }
    &.links {
        float: right;
    }

    li {
        float: left;
        list-style-type: none;

        &:not(:first-child) {
            margin-left: 14px;
        }
    }

    .icon {
        height: 40px;
    }
}
