<ul class="time">
    <li>03:53:60</li>
    <li>12:47</li>
    <li>29 june 2015 GMT+1</li>
    <li>{{ layout }}</li>
</ul>
<ul class="links">
    <li>
        <a [routerLink]="['/overview']" class="overview" routerLinkActive="selected">
            <img src="./images/icons--01.svg" class="icon">Overview
        </a>
    </li>
    <li>
        <a [routerLink]="['/bucket-a']" class="a" routerLinkActive="selected">
            <img src="./images/icons--03.svg" class="icon">Bucket A
        </a>
    </li>
    <li>
        <a [routerLink]="['/bucket-b']" class="b" routerLinkActive="selected">
            <img src="./images/icons--03.svg" class="icon">Bucket B
        </a>
    </li>
    <li>
        <a [routerLink]="['/bucket-c']" class="c" routerLinkActive="selected">
            <img src="./images/icons--03.svg" class="icon">Bucket C
        </a>
    </li>
</ul>