﻿@import "../../_variables.scss";

:host {
    display: block;
    padding-top: $gutters;
}


.row {
    color: white;
    margin: 0px !important;
}

.overview-horizontal-graph {
    height: 140px;
    background-color: #414141 !important;
    margin-bottom: 13px;
}

.graph-heading {
    color: white;
    font-size: 20px;
}


.vertical {
    direction: ltr;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin-top: 60px;
    margin-left: 11px;
    color: white;
    margin-right: 10px;
    float: left;
}

.vertical-tilt {
    direction: ltr;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin-top: 40px;
    margin-left: 11px;
    color: white;
    margin-right: 10px;
    float: left;
}

.clear {
    clear: both;
}

.overview-horizontal-graph > .img-responsive {
    display: block;
}

.overview-vertical-graph {
    height: 600px;
    color: white;
    padding-left: 3px;
    padding-top: 10px;
    margin-right: 25px;
    background-color: #414141 !important;
    margin-bottom: 13px;
}

.graph-vertical-text {
    direction: ltr;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin-top: 270px;
    margin-left: 11px;
    color: white;
    margin-right: 10px;
    float: left;
}

.overview-no-background {
    height: 600px;
    color: white;
    padding-right: 0px;
    padding-left: 0px;
}

.graph-image {
    height: 277px;
}

.box-label {
    float: right;
    margin-right: 5px;
    padding: 4px;
}

.box-area {
    float: right;
    width: 100px;
    height: 50px;
    padding: 4px;
    background-color: #414141 !important;
}

.alerts {
    margin-top: 20px;
    background-color: #414141 !important;
    padding-top: 20px;
    padding-left: 5px;
}

.Alert-heading {
    font-size: 20px;
}

.button-style-1 {
    margin-right: 10px;
    border-radius: 0px;
}
