﻿
    <div class="row">

        <div class="col-sm-12 col-lg-6 col-md-6">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 overview-horizontal-graph">
                    <div class="graph-heading">
                        Elevation(depth)
                    </div>
                    <div class="vertical">
                        Elevation
                    </div>

                    <img src="./images/icons--01.png" class="img-responsive">
                    <div class="text-center">Time</div>
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 overview-horizontal-graph">
                    <div class="graph-heading">
                        Panetration
                    </div>
                    <div class="vertical">
                        Panetration
                    </div>

                    <img src="./images/icons--01.png" class="img-responsive">
                    <div class="text-center">Time</div>
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 overview-horizontal-graph">
                    <div class="graph-heading">
                        Suction
                    </div>
                    <div class="vertical">
                        Suction
                    </div>

                    <img src="./images/icons--01.png" class="img-responsive">
                    <div class="text-center">Time</div>
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 overview-horizontal-graph">
                    <div class="graph-heading">
                        OverAll Tilt
                    </div>
                    <div class="vertical-tilt">
                        Tilt
                    </div>

                    <img src="./images/icons--01.png" class="img-responsive">
                    <div class="text-center">Time</div>
                </div>

            </div>



        </div>


        <div class="col-sm-12 col-lg-6 col-md-6" style="padding-right:0px">
            <div class="row" style="padding-right:0px">
                <div class="col-sm-3 col-lg-3 col-md-3 overview-vertical-graph">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="graph-heading">
                                Sunction
                            </div>
                            <div class="graph-vertical-text">
                                Sunction
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-lg-3 col-md-3 overview-vertical-graph">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="graph-heading">
                                Elevation
                            </div>
                            <div class="graph-vertical-text">
                                Panetration
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 col-lg-5 col-md-5" style="padding-right:0px">
                    <div class="row" style="padding-right:0px">
                        <div class="col-sm-12 col-lg-12 col-md-12 overview-no-background">
                            <div class="graph-image">

                            </div>

                            <div class="box">

                                <div class="box-area">
                                    <strong>2.4</strong>  <small>deg</small><br>
                                    <strong>152</strong>  <small>mm</small>
                                </div>
                                <div class="box-label">
                                    Tilt<br>
                                    Penetration
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="alerts">
                                <div class="Alert-heading">
                                    Alert
                                </div>
                                <button class="btn btn-warning button-style-1"></button>    Alert #01<br><br>
                                <button class="btn btn-warning button-style-1"></button>   Alert #02<br><br>
                                <button class="btn btn-warning button-style-1"></button>  Alert #03<br><br>

                                <button class="btn btn-warning button-style-1"></button>   Alert #04<br><br>
                                <button class="btn btn-warning button-style-1"></button>   Alert #05<br><br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
