﻿@import "../../_variables.scss";

:host {
    display: block;
    padding-top: $gutters;
}

.no-padding {
    padding:0!important;
}
.no-margin {
    margin: 0 !important;
}
.log-form {
    background-color: #414141 !important;
    color: white;
    height: 450px;
    padding-bottom: 30px;
    margin-right:30px;
}

textarea {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

@media (max-device-width:768px) {
    textarea {
        width: 285px;
        overflow: hidden;
    }
}

@media (max-device-width:1100px) {
    textarea {
        width: 264px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 767px) {
    .log-form {
        height: 460px;
        margin-right: 0px;
    }
}

.Textbox {
    display: inline;
    margin-left: 15px;
    width: 75px;
}

.form-label {
    padding:0!important;
    color:#f9f9f9;
    font-size: 14px;
}

@media (max-device-width:768px) {
    .form-label {
        padding-right: 0px;
        padding-left: 35px;
    }
}

@media (max-device-width:1100px) {
    .form-label {
        padding-right: 0px;
        padding-left: 10px;
    }
}

.textarea-css {
    padding-right: 0px;
}
    .textarea-css > textarea {
        resize:none;    
    }
    
    .form-heading {
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 30px;
    }

.form-button {
    background-color: #363636;
    margin-left: 10px;
    color: #bb9d49;
    border: 1px solid #bb9d49;
}

@media (max-device-width:1100px) {
    .form-button {
        margin-left: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }
}

.top-text {
    margin-top: 40px;
    font-size: 15px;
    margin-bottom: 10px;
}

.message-log-value {
    padding: 5px;
}

@media (max-device-width:768px) {
    .TextBox {
        display: inline;
        margin-left: 15px;
        width: 75px;
        color: black;
    }
}
