﻿<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 log-form">
        <div style="margin-bottom:30px;">
            <h3>Log Window</h3>
        </div>
        <div class="row no-margin">
            <div class="col-sm-3 col-md-3 col-lg-3 form-label">
                Log Message
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7 textarea-css no-padding">
                <textarea></textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 no-padding">
                <input type="submit" class="form-button" value="Submit">
            </div>
        </div>
</div>

    <div class="col-sm-3 col-lg-2 col-md-3 log-form">
        <div class="top-text">
            Values
        </div>

        <div class="message-log-value">

            Value A <input type="Text" class="Textbox">
        </div>
        <div class="message-log-value">

            Value B <input type="Text" class="Textbox">
        </div>
        <div class="message-log-value">

            Value C <input type="Text" class="Textbox">
        </div>
        <div class="message-log-value">

            Value D <input type="Text" class="Textbox">
        </div>
        <div class="message-log-value">

            Value E <input type="Text" class="Textbox">
        </div>
    </div>
</div>