@import "../../_variables.scss";

:host {
    background-color: $main-bg-color;
    bottom: 0;
    height: $footer-height;
    left: 0;
    padding: 0 20px;
    position: fixed;
    right: 0;
}

a {
    color: #fff;
}

ul {

    padding: 0;

    &.left {
        float: left;
    }
    &.links {
        float: right;
    }

    li {
        float: left;
        line-height: $footer-height;
        list-style-type: none;

        a {
            color: #000;
            font-weight: bold;
            line-height: $footer-height;
        }

        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    .logo {
        height: $footer-height;
    }

    .icon {
        height: 40px;
        margin-right: -12px;
    }

    .pause-button {
        background-color: $main-bg-color;
        border: 1px solid $bucket-a-color;
        height: 40px;
    }
}