<ul class="left">
  <li>
    <img src="images/dong-logo-01.svg" class="logo">
  </li>
  <!-- <li>
    <button class="pause-button">
      <img src="images/icons--11.svg" class="icon">
      PAUSE
    </button>
  </li> -->
</ul>
<ul class="links">
  <li>
    <a [routerLink]="['/zoom']">
            <img src="images/icons--05.svg" alt="" class="icon"> ZOOM
        </a>
  </li>
  <li>
    <a [routerLink]="['/test']">
            <img src="images/icons--06.svg" class="icon"> TEST
        </a>
  </li>
  <li>
    <a [routerLink]="['/log']">
            <img src="images/icons--07.svg" class="icon"> LOG
        </a>
  </li>
  <li>
    <a [routerLink]="['/setup']">
            <img src="images/icons--08.svg" class="icon"> SETUP
        </a>
  </li>
</ul>