﻿<div class="flex-row">
  <div class="container flex-item">
    <div class="heading-top">

      <b>Before</b> Installation

      <input type="button" class="button-text" value="IMPORT SITE DATA">

    </div>
    <div class="Client-Setup">
      <div class="Bold">BUCKET A TCP CLIENT SETUP</div>
    </div>

    <div class="Client-Setup-button">
      <label>IP Address</label>
      <input type="text" class="TextArea" [(ngModel)]="ipaddressA"> Port <input type="text" class="TextArea" [(ngModel)]="portA">
      <INPUT type="button" class="submit-button" value="Submit" (click)="setBucketConnection('A')">
    </div>

    <div class="Client-Setup">
      <div class="Bold">REFERENCE UNIT 1 TCP CLIENT SETUP</div>
    </div>

    <div class="Client-Setup-button">

      <label>IP Address</label>
      <input type="text" class="TextArea" [(ngModel)]="ipaddressB"> Port <input type="text" class="TextArea" [(ngModel)]="portB">
      <INPUT type="Submit" class="submit-button" value="Submit" (click)="setBucketConnection('B')">
    </div>

    <div class="Client-Setup">
      <div class="Bold">LOG SETUP</div>
    </div>

    <div class="Client-Setup-button">

      <label>IP Address</label>
      <input type="text" class="TextArea" [(ngModel)]="ipaddressC"> Port <input type="text" class="TextArea" [(ngModel)]="portC">
      <INPUT type="Submit" class="submit-button" value="Submit" (click)="setBucketConnection('C')">
    </div>

  </div>

  <div class="container flex-item">
    <div class="heading-top">

      <b>During</b> Installation
    </div>
    <div class="installation">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 text1">
          Parameter
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text1">
          Max
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 text1">
          Min
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 installation-data">
          Time
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 installation-data">
          Flow
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 installation-data">
          Sunction
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 installation-data">
          Heave
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 installation-data">
          Penetration
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 installation-data">
          Option X
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 installation-data">
          Option X
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 installation-data">
          Option X
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 installation-data">
          <input type="text" class="TextArea">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 installation-data">
          <input type="text" class="TextArea">
        </div>
      </div>
    </div>
  </div>
</div>